<% layout("layout") -%>

<div class="contact container">
  <p class="err"><%= error %></p>
  <form method="post">
    <input class="inp" id="title" type="text"  name="title" placeholder="Enter title">
    <input class="inp" id="mail" type="email"  name="email" placeholder="Enter mail">
    <textarea id="message" name="content" rows="8" cols="80" placeholder="Type message"></textarea>
    <button id="contact">Send Message</button>
  </form>
</div>
